<div class="menu is-close">
    <div class="menu-wrapper">
        <div class="menu-header-content">
            <div class="logo">
                <a href="#"><img src="./src/images/logocleanstay.webp" alt="CleanStay Logo"></a>
            </div>
            <button class="menu-close-btn" aria-label="Zavřít menu">&times;</button>
        </div>
        <nav class="menu-nav">
            <ul class="menu-nav-list">
                <!-- <li class="menu-nav-item">
                    <a class="menu-nav-link" href="/uklid-domacnosti.html">Domácnost</a>
                </li>
                <li class="menu-nav-item">
                    <a class="menu-nav-link" href="/uklid-firem.html">Pro firmy</a>
                </li>
                <li class="menu-nav-item">
                    <a class="menu-nav-link" href="/airbnb.html">Airbnb</a>
                </li>
                <li class="menu-nav-item">
                    <a class="menu-nav-link" href="/cenik.html">Ceník</a>
                </li> -->
            </ul>
            <a class="menu-order-link" href="#kontakt" data-link-order="">Objednát</a>
        </nav>
        
    </div>
    <!-- <ul class="social-list menu-social-list">
        <li class="social-item">
            <a class="social-link" href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
        </li>
        <li class="social-item">
            <a class="social-link" href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
        </li>
        <li class="social-item">
            <a class="social-link" href="https://www.linkedin.com/school/goit-start-your-career-in-it"
                target="_blank">Linkedin</a>
        </li>
        <li class="social-item">
            <a class="social-link" href="https://github.com/Vyacheslav-Chop/project-persistent-portfolio"
                target="_blank">GitHub</a>
        </li>
    </ul> -->
</div>